@inherits EcoCentre.Web.EcoWebPageView<EcoCentre.Models.Domain.User.Commands.ResetPasswordCommandViewModel>
@{
    Layout = "~/Views/Shared/EmptyLayout.cshtml";
}

<div class="row-fluid">
    <form class="form-horizontal single-form" id='login-form' method="POST" style="max-width: 350px">
        <h2>Mot de passe oublié</h2>

        @if (ViewBag.Success == true)
        {
            <span>Vérifiez votre e-mail pour de plus amples instructions. <a href="@Url.Action("Login","User")">la page de connexion</a></span>
        }
        else
        {
            if (!ViewData.ModelState.IsValid)
            {
                <div class="alert alert-error span11">
                    @Html.ValidationSummary()
                </div>
            }
            <div class="control-group">
                <input type="text" name="loginOrEmail" placeholder="Nom d'utilisateur ou e-mail" class="input-xlarge">
            </div>
  
            <div class="control-group">
                <input type="submit" class="btn btn-large btn-primary" value="demande de réinitialisation"/>
            </div>

        }
    </form>
</div>