@inherits EcoCentre.Web.EcoWebPageView 

<div id="ng-app">
	<h3>Conteneurs</h3>
	<error-list></error-list>
	<container-overview></container-overview>
</div>
<hr/>
@Html.Partial("_DashboardTemplate")

