@inherits EcoCentre.Web.EcoWebPageView 
<div class="row-fluid noprint">
	<div class="span4 hidden-phone noprint" style="font-size: 12px; margin-top: 10px;">
		<img src="/styles/img/compo-recycle-logo.gif" style=" margin-right: 10px;" class="pull-left"/>
		<ul class="unstyled">
			<li>225, du Progrès</li>
			<li>Chertsey, Québec</li>
			<li>J0K 3K0</li>
		</ul>
	</div>
</div>