<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3c.org/TR/1999/REC-html401-19991224/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Compo Recycle | L'innovateur de la Collecte-à-3voies</title>
	<meta content="" name="description">
	<meta content="compostage andains usine transformation méthanisation quebec montréal adèle agathe donat chertsey vente compost rawdon joliette laval compost lanaudiere gestion matières résiduelles Chertsey Rawdon recyclage Joliette Saint-Donat Sainte-Adèle Lanaudière Laurentides commerce institution lanaudiere tri bacs 3-voies compo recycle festival évènement location conteneur recyclage papier carton compost compostage protection environnement bac brun bac bleu lanaudiere" name="keywords">
	<meta content="Compo Recycle | L&#39;innovateur de la Collecte-à-3voies" name="DC.title">
	<meta content="" name="DC.description">
	<meta content="application/xhtml+xml" name="DC.format">
	<meta content="fr" name="DC.language"><!--meta name="revisit-after" content="2 days" /-->
	<meta content="CA" name="geo.country">
	<link media="all" href="/content/compo/comporecycle.css" type="text/css" rel="stylesheet">
	<link media="screen" href="/content/compo/squeezebox.css" type="text/css" rel="stylesheet">
	<link media="screen" href="/content/compo/listematieres.css" type="text/css" rel="stylesheet">
	<link media="screen" href="/content/compo/bacs.css" type="text/css" rel="stylesheet">
	<link media="screen" href="/content/compo/home.css" type="text/css" rel="stylesheet">	
	<script type="text/javascript">

	</script>
	<style type="text/css">
		<!--
		body {
			background-image: url(/content/compo/background_pattern.gif);
		}

		.Style4 {
			font-size: medium
		}
		-->
		#footer {
			BACKGROUND: #6793c0 repeat-x left top;
		}
	</style>
	
</head>
<body>
	<div id="page">

		<div id="top">
			<div id="entete">
				<ul id="menu2">
					<li>
						<a title="Accueil du site" href="http://www.comporecycle.com/">Accueil</a> -
					</li>
					<li>
						<a title="Entreprise" href="http://www.comporecycle.com/francais/entreprise.htm">Entreprise</a> -
					</li>
					<li>
						<a href="http://www.comporecycle.com/francais/separer.htm" title="Pourquoi séparer les matières ?">
							Pourquoi séparer
							?
						</a> -
					</li>
					<li><a title="Carrière" href="http://www.comporecycle.com/francais/carriere.htm">Carrière</a> - <a title="Carrière" href="http://www.comporecycle.com/anglais/index.htm">English</a></li>
					<li></li>
				</ul>
				<div><a href="http://www.comporecycle.com/francais/"><img border="0" src="/content/compo/logo2016.gif" alt="Compo Recycle" width="320"></a></div>
			</div>

			<ul id="menu">
				<li>
					<a href="http://www.comporecycle.com/francais/entreprise.htm" title="En savoir plus sur Compo Recycle">
						Compo
						Recycle
					</a>
				</li>
				<li>
					<a href="http://www.comporecycle.com/francais/liste.htm" title="Liste complète des matières" target="_blank">
						Liste
						complète des matières
					</a>
				</li>
				<li>
					<a href="http://www.comporecycle.com/tonsurplus/index.php" title="Pourquoi séparer les matières ?">Ton surplus... mon bonheur</a>
				</li>
				<li>
					<a href="http://www.comporecycle.com/francais/service.htm" title="Services offerts">Services et produits</a>
				</li>
				<li>
					<a href="http://www.comporecycle.com/francais/contact.htm" title="Contact">Contact</a>
				</li>
				<li><a href="http://www.comporecycle.com/francais/lien.htm" title="Liens utiles">Liens utiles</a> </li>
			</ul>
			
		</div>
		<div>

			@RenderBody()

		</div>
		<div class="clear"></div>
		<div id="footer">
			<div id="info">
				Tél. : <strong>(450) 882-9186</strong> - <strong>
					(450)
					753-3765
				</strong> et <strong>1-888-482-6676</strong><br>Courriel : <a title="Contactez-nous" href="mailto:info@comporecycle.com">info@comporecycle.com</a>
			</div>
			<div id="footer_menu">
				<ul>
					<li>
						<a href="http://www.comporecycle.com/francais/liste.htm" target="_blank" title="Matières">Matières</a> -
					</li>
					<li>
						<a title="Carrière" href="http://www.comporecycle.com/francais/carriere.htm">Carrière</a> -
					</li>
					<li>
						<a title="Contact" href="http://www.comporecycle.com/francais/contact.htm">Contact</a> -
					</li>
					<li>
						<a title="Foire aux questions" href="http://www.comporecycle.com/francais/faq.htm">F.A.Q.</a> -
					</li>
					<li><a title="Plan du site" href="http://www.comporecycle.com/francais/plan.htm">Plan du site</a> </li>
				</ul>
				<ul id="validation">
					<li><a title="Validations de l&#39;HTML aux normes du W3C" href="http://validator.w3.org/check?uri=referer">XHTML W3C</a> </li>
				</ul>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</body>
</html>