<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings>
		<add key="ApplicationInsightsInstrumentationKey" value="6534df78-01fc-4ef0-81cd-0f8b959ee142" xdt:Transform="Replace" xdt:Locator="Match(key)" />
	</appSettings>
	<connectionStrings xdt:Transform="Replace">
		<add name="ServiceBus" connectionString="loopback://localhost/eco_compo" />
		<add name="EcoDatabase" connectionString="mongodb://eco_compo_app:FnkcFxrnDPXDfgY6@52.235.46.238/eco_compo/?maxIdleTimeMS=300000" />
	</connectionStrings>
	<autofac>
		<modules>
			<module type="EcoCentre.Models.Infrastructure.DomainModule, EcoCentre, Version=1.0.0.0, Culture=neutral">
				<properties>
					<property name="MinBackgroundTaskInterval" value="0:00:05:00" xdt:Transform="Replace" xdt:Locator="Match(name)" />
					<property name="CenterName" value="Compo Recycle" xdt:Transform="Replace" xdt:Locator="Match(name)" />
					<property name="CenterUrl" value="https://comporecycleeco.com/" xdt:Transform="Replace" xdt:Locator="Match(name)" />
				</properties>
			</module>

			<module type="EcoCentre.Models.Infrastructure.DefaultCustomizationModule, EcoCentre"
					xdt:Transform="Replace"
					xdt:Locator='Condition((@type="EcoCentre.Models.Infrastructure.DefaultCustomizationModule, EcoCentre"))' >
				<properties>
					<property name="PageTitle" value="Compo Recycle"  xdt:Transform="Replace" xdt:Locator="Match(name)"/>
					<property name="ViewRootDir" value="~/Views/Custom/CompoRecycle" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
				</properties>
			</module>
		</modules>
	</autofac>
	<system.web>
		<customErrors mode="On" />
		<compilation xdt:Transform="RemoveAttributes(debug)" />
	</system.web>
	<system.net>
		<mailSettings>
			<smtp from="comporecycle@sphyr.com" xdt:Transform="Replace" >
				<network host="smtp.sphyr.com" userName="comporecycle@sphyr.com" password="$la45*rt79111pQ$d" />
			</smtp>
		</mailSettings>
	</system.net>
	<system.webServer>
		<rewrite xdt:Transform="Insert()" >
			<rules>
				<rule name="HTTP/S to HTTPS Redirect" enabled="true" stopProcessing="true">
					<match url="(.*)" />
					<conditions logicalGrouping="MatchAny">
						<add input="{SERVER_PORT_SECURE}" pattern="^0$" />
						<add input="{HTTP_HOST}" pattern="^comporecycleeco\.com" negate="true" />
					</conditions>
					<action type="Redirect" url="https://comporecycleeco.com/{R:0}" redirectType="Found" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>