<div>
	<div ng-if="vm.isLoading">
		<div class="centertext">
			<i class="fa fa-spinner fa-spin spin-big"></i>
		</div>
	</div>

	<div ng-if="!vm.isLoading">
		<table class="table table-striped table-bordered table-hover" style="width: 100%;" ng-if="vm.items.length">
			<thead>
			<tr>
				<th>Numéro</th>
				<th>Titre</th>
				<th>Description</th>
				<th>Date ajouté</th>
				<th>Âge</th>
				<th>Type</th>
				<th>Regroupement</th>
				<th>Prix</th>

				<th></th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="item in vm.items" ng-class="{strike: item.isDeleted, grayout: item.IsGivenAway}">
				<td>{{item.SequenceNo}}</td>
				<td>{{item.Title}}</td>
				<td>{{item.Description}}</td>
				<td>{{item.DateAdded | amUtc | amLocal | amDateFormat:'YYYY-MM-DD'}}</td>
				<td>{{item.DateAdded | amTimeAgo}}</td>
				<td>{{item.Type}}</td>
				<td>{{item.HubName}}</td>
				<td>{{item.Price | currency:"$":3}}</td>

				<td class="non-clickale nowrap">
					<div ng-if="!item.isDeleted">
						<div ng-if="!item.IsGivenAway">
						<a class="btn" href="/#giveaway/edit/{{item.Id}}">Éditer</a>
						<!--
						<a class="btn" ng-click="vm.publish(item)" loading="item.isChangeLoading" ng-if="!item.IsPublished">Afficher</a>
						<a class="btn" ng-click="vm.unpublish(item)" loading="item.isChangeLoading" ng-if="item.IsPublished">Cacher</a>
						-->
							<a class="btn" ng-click="vm.deleteItem(item)" loading="item.isChangeLoading">Supprimer</a>
						</div>
						<div ng-if="item.IsGivenAway">
							vendu
						</div>
					</div>
				</td>
			</tr>
			</tbody>
		</table>
		<div class="alert" ng-show="!vm.items.length">La liste est vide</div>
	</div>
</div>