
<h1 class="noprint">@EcoCentre.Resources.Model.Invoice.TheInvoice
    <a class="btn btn-large btn-primary" onclick='window.print();'>Imprimer</a>
    <a class="btn btn-large btn-primary" href='#invoice/new'>Nouvelle facture</a>
    <a class="btn btn-large btn-success" href='#obnlreinvestment/new'>OBNL</a>
</h1>

@Html.Partial("_showTemplate")
