@inherits EcoCentre.Web.EcoWebPageView 
<div class="row-fluid noprint">
            
    <div class="span6">
		<h1><img src="/styles/img/default-logo.png" style="max-height: 80px; " /> Écocentre – Saint-Constant</h1>
    </div>
    <div class="span6 hidden-phone noprint" style="font-size: 18px; padding-top: 25px;">
        Pour Info Contacter : 514 970 6200 ou nicholas@sphyr.com
    </div>
</div>