@inherits EcoCentre.Web.EcoWebPageView 
<head>
	<meta name="viewport" content="width=500, initial-scale=1.0">
	<meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
	<link rel="stylesheet" type="text/css" href="/styles/css/fontawesome-all.v5.0.12..min.css" onload="if(media!='all')media='all';">
	<link rel="stylesheet" type="text/css" media="screen,print" href="/styles/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" media="screen" href="/styles/css/bootstrap-responsive.min.css">
	<link rel="stylesheet" type="text/css" media="screen" href="/styles/css/ng-tags-input.min.css">
	<link rel="stylesheet" type="text/css" media="screen" href="/styles/eco.css?v1">
	<link rel="stylesheet" type="text/css" media="print" href="/styles/eco-print.css?v1">
	<link rel="stylesheet" type="text/css" media="screen" href="/styles/css/knockback-navigators.css">
	<link rel="stylesheet" type="text/css" media="screen" href="/styles/css/flick/jquery-ui-1.9.2.custom.min.css">
	<link rel="stylesheet" type="text/css" media="screen" href="/Scripts/lib/jquery.upload/css/jquery.fileupload-ui.css">
	<link rel="stylesheet" type="text/css" media="screen" href="/Scripts/lib/jquery.upload/css/jquery.fileupload-ui-noscript.css">
	<link rel="stylesheet" type="text/css" media="screen" href="/styles/css/chosen/chosen.min.css">
	<link rel="stylesheet" type="text/css" href="https://ws1.postescanada-canadapost.ca/css/addresscomplete-2.30.min.css?key=za49-yh45-mb59-mf89" />
	<script type="text/javascript" src="https://ws1.postescanada-canadapost.ca/js/addresscomplete-2.30.min.js?key=za49-yh45-mb59-mf89"></script>
	<link rel="stylesheet" type="text/css" href="http://ws1.postescanada-canadapost.ca/css/addresscomplete-2.30.min.css?key=zn65-wp53-hk21-pj13" />
	<script type="text/javascript" src="http://ws1.postescanada-canadapost.ca/js/addresscomplete-2.30.min.js?key=zn65-wp53-hk21-pj13"></script>
	<title>@Customization.PageTitle</title>
</head>