@{
	Layout = null;
}
<h1>Ajouter conteneur</h1>
<a href="#container/index">&larr; Retour à la liste</a>
<br/>
<br/>
<div id="ng-app">
	<error-list></error-list>
	<container-form id="$root.id"></container-form>
</div>
